<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'items.js', 'data-turbolinks-track' => true %>
<div>
  From <input type="text" id="fromDate" />
  To <input type="text" id="toDate" />
  <input type="button" id="btnDate" value="Show" />
  <input type="button" id="btnAll" value="Show All" />
</div>
<br>
<div style="">
<div style="float:left;width:100%;height: 300px;" id="chartQty"></div>
<div style="float:left;width:100%;height: 300px;" id="chartRank"></div>
</div>
<script>
  var chartQty;
  var chartRank;
  function updateCharts(from, to) {
    $.ajax({
      url: "<%= statistics_admin_item_path(@item) %>",
      data: {from: from, to: to}
    }).done(function(data) {
      var dataQty = $(data).map(function(){ return {
        label: moment(this.created_at).format('YYYY-MM-DD'), 
        x: moment(this.created_at).startOf('day').toDate(), 
        y: this.qty_left} }
      ).get(); // x or label
      chartQty.options.data[0].dataPoints = dataQty;
      chartQty.render();
      
      var dataRank = $(data).map(function(){ return {label: moment(this.created_at).format('YYYY-MM-DD'), x: moment(this.created_at).startOf('day').toDate(), y: this.rank} }).get(); // x or label
      chartRank.options.data[0].dataPoints = dataRank;
      chartRank.render();

      var max_date = data.max(function(e){ return moment(e.created_at).format('YYYY/MM/DD') });
      var min_date = data.min(function(e){ return moment(e.created_at).format('YYYY/MM/DD') });
      
      if (from == null){
        $('#fromDate').val(min_date);
        $('#toDate').val(max_date);
      }

    });
  }
  window.onload = function () {
    //alert(1);
    $('#fromDate').datepicker({ dateFormat: 'yy/mm/dd' });
    $('#toDate').datepicker({ dateFormat: 'yy/mm/dd' });
    $('#btnDate').click(function() {
      updateCharts($('#fromDate').val(), $('#toDate').val());
    });

    $('#btnAll').click(function() {
      updateCharts();
    });
    
    chartQty = new CanvasJS.Chart("chartQty", {
      title:{ text: "<%= @item.number%>: Quantity Trend" },
      axisX:{      
				valueFormatString: "YY-MM-DD",
				interval: 1,
				intervalType: "day",
        labelAngle: -50
      },
      data: [{
         type: "line",
         color: "red",
         dataPoints: []
       }]
     });

     chartRank = new CanvasJS.Chart("chartRank", {
      title:{ text: "<%= @item.number%>: Rank Trend" },
      axisX:{      
				valueFormatString: "YY-MM-DD",
				interval: 1,
				intervalType: "day",
        labelAngle: -50
      },
      data: [{
         /*** Change type "column" to "bar", "area", "line" or "pie"***/
         type: "line",
         dataPoints: []
       }]
     });

     updateCharts();

    //chart.render();
  }
</script>